/* Ajoutez votre fichier CSS personnalisé */
.container {
    padding-top: 100px; /* Ajoutez de l'espace au-dessus du conteneur */
  }
  
  .map-responsive {
    margin-bottom: 30px; /* Ajoutez de l'espace en dessous de la carte */
  }
  
  .card {
    margin-bottom: 30px; /* Espacement entre les cartes */
  }
  
  /* Ajustez la taille des titres pour une meilleure hiérarchie visuelle */
  h2 {
    font-size: 2.5rem;
  }
  
  h3 {
    font-size: 1.8rem;
  }
  
  /* Ajustez les boutons pour une meilleure visibilité */
  .btn-outline-primary {
    padding: 10px 20px;
    font-size: 1rem;
  }
  
  /* Espacement et style pour le footer */
  .footer {
    padding-top: 40px;
    padding-bottom: 20px;
    background-color: #343a40;
    color: #fff;
  }
  
  /* Corrections pour les classes Bootstrap si nécessaire */
  .navbar {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  
  .nav-link {
    margin-right: 1rem; /* Ajustez selon vos préférences */
  }
  
  /* Ajustements pour le carousel */
  .carousel-caption {
    background-color: rgba(0, 0, 0, 0.5); /* Pour améliorer la lisibilité du texte */
    padding: 10px;
  }
  
  .carousel-item img {
    height: 500px; /* Hauteur fixe pour éviter les sauts de contenu */
    object-fit: cover;
  }
  