{% extends "home/base.html" %}

{% block content %}
    <div class="container">
        <form action="{% url 'login' %}" method="post"> <!-- Assurez-vous que l'URL est correcte -->
            {% csrf_token %}
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">Login</div>
                    <div class="panel-body">
                        {% if message %}
                            <p class="bg-danger p-d ml-b">{{ message }}</p>
                        {% endif %}
                        {% for field in form %}
                            <div class="form-group clearfix">
                                <label for="{{ field.id_for_label }}" class="col-md-4 control-label text-right">{{ field.label }}</label>
                                <div class="col-md-6">
                                    {{ field }}
                                    {% if field.help_text %}
                                        <small class="form-text text-muted">{{ field.help_text }}</small>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                        <div class="col-md-6 col-md-offset-4">
                            <button type="submit" class="btn btn-success">Login</button> &nbsp;
                            <p>Pas encore membre ? <a href="{% url 'signup' %}">Inscrivez-vous maintenant !</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
