{%extends 'base.html' %}

{% block content %}
  <h2>Modifier le forum</h2>
  <form method="post" action="{% url 'update_forum' id=forum.id_forum %}">
    {% csrf_token %}
    
    {% for field in form %}
      <div>
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }}
        {% if field.errors %}
          <div class="errors">
            {{ field.errors }}
          </div>
        {% endif %}
      </div>
    {% endfor %}

    <button type="submit">Enregistrer les modifications</button>
  </form>
  <a href="{% url 'show_forum' %}">Retour à la liste des forums</a>
{% endblock %}
