{% extends 'base.html' %}

{% block head %}
    <title>Détails du Forum</title>
    <style>
        .message-card {
            border: 1px solid #ddd;
            border-radius: 5px;
            padding: 15px;
            margin-bottom: 10px;
        }
        .message-header {
            font-weight: bold;
        }
        .message-date {
            color: #666;
            font-size: 0.8em;
        }
    </style>
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>{{ forum.nom }}</h1>
    <p>{{ forum.description }}</p>
    <p>Créé par : {{ createur.first_name }} {{ createur.last_name }}</p>

    <!-- Affichage des messages -->
    <div>
        <h2>Messages</h2>
        {% if messages %}
            {% for message in messages %}
                <div class="message-card">
                    <div class="message-header">
                        {{ message.user.last_name }} {{ message.user.first_name }}
                        <span class="message-date">- {{ message.date|date:"d M Y H:i" }}</span>
                    </div>
                    <div class="message-content">
                        {{ message.contenu }}
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>Aucun message pour ce forum.</p>
        {% endif %}
    </div>
    {% if user.is_authenticated %}
        <h2>Envoyer un message</h2>
        <form action="{% url 'send_message' forum.id_forum %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="contenu">Message</label>
                <textarea class="form-control" id="contenu" name="contenu" rows="4" placeholder="Écrivez votre message ici"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Envoyer</button>
        </form>
    {% endif %}
{% endblock %}
