{% extends 'base.html' %}

{% block content %}
<h2>Sélectionnez une Formation et une Matière</h2>
<form action="{% url 'quiz' %}" method="get">
    <label for="formation">Formation:</label>
    <select name="formation" id="formation">
        {% for enregistrement in user_formations %}
        <option value="{{ enregistrement.formation.id_formation }}">{{ enregistrement.formation.nom }}</option>
        {% endfor %}
    </select>
    
    <label for="matiere">Matière:</label>
    <select name="matiere" id="matiere">
        <!-- Les options seront chargées en AJAX -->
    </select>
    
    <button type="submit">Commencer le Quiz</button>
</form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('#formation').change(function() {
            var formationId = $(this).val();
            $.ajax({
                url: '/api/get_matieres_for_formation/',
                data: {'formation_id': formationId},
                success: function(data) {
                    $('#matiere').empty();
                    $.each(data.matieres, function(key, value) {
                        $('#matiere').append('<option value="' + key + '">' + value + '</option>');
                    });
                }
            });
        });
    });
</script>
{% endblock %}
